/* div {
  background-color: #e4f9f5;
} */

body {
  margin: 0px;
  text-align: center;
  font-family: Merriweather,serif;
}
.title {
  margin-top: 0px;
  font-family: Sacramento,cursive;
  font-size:50px;
}
.top-container {
    background-color: #e4f9f5;
    padding-top: 150px;
    position: relative;
}
.top_cloud_image{
  position: absolute;
  right: 400px;
  top: 60px;

}
.bottom_cloud {
  position: absolute;

}


